<!doctype html>
<html>
    <head>
        <title>React Test</title>
        <link href='bower_components/skeleton/css/normalize.css' rel="stylesheet">
        <link href='bower_components/skeleton/css/skeleton.css' rel="stylesheet">
        <link rel="stylesheet" href="css/bundle.css" />

        <script src='bower_components/es6-shim/es6-shim.js'></script>
    </head>
    <body>
        <div id="mount"><%- reactOutput %></div>

        <script src="/bundle.js"></script>
    </body>
</html>
